<img src = "https://escp.eu/sites/default/files/logo/ESCP-logo-white-misalign.svg" width = 400 style="background-color: #240085;">
<h1 align=center><font size = 6>ESCP Business School</font></h1>
<h3 align=center><font size = 5>SCOR Datathon</font><br/>
<font size = 3>The Data Science Challenge Bridging Indian Agricultureal Protection Gap</font></h3>
<h6 align=center>Additional Data - Web Scraping (Merging Data)</h6>

Last Updated: February 15, 2022\
Author: Group 21 - Anniek Brink, Jeanne Dubois, and Resha Dirga

<h3>Chapter Objectives</h3>

<p>This chapter is aimed to merge all web scraping documents produced into one big dataset which will be integrated to the main dataset later on.</p>

<h3>Chapter 1: Import modules</h3>
<p>This chapter lists all modules that being used on this document. The module import process will be performed on this chapter</p>

In [1]:
# Import modules
import pandas as pd
import numpy as np

<h3>Chapter 2: Merge files</h3>
<p>This chapter reads and merges all web scraping files into one.</p>

In [2]:
# Define file name to merge
files_to_merge = [
    'cities_climate/SCOR_Cities_Climate_CDO.csv',
    'cities_climate/SCOR_Cities_Climate_WWO.csv'
]

In [3]:
# Setup empty dataframe to join the datasets
result = {
            'State': [],
            'City': [],
            'Month': [],
            'Avg. Temperature °C (°F)': [],
            'Min. Temperature °C (°F)': [],
            'Max. Temperature °C (°F)': [],
            'Precipitation / Rainfall mm (in)': [],
            'Humidity(%)': [],
            'Rainy days (d)': [],
            'avg. Sun hours (hours)': []
            }

df_result = pd.DataFrame(result)

In [4]:
# Join datasets and remove duplicates (if any)
for file in files_to_merge:
    df_new = pd.read_csv(file)
    df_result = pd.concat([df_result, df_new])
    
df_result.drop_duplicates()

,State,City,Month,Avg. Temperature °C (°F),Min. Temperature °C (°F),Max. Temperature °C (°F),Precipitation / Rainfall mm (in),Humidity(%),Rainy days (d),avg. Sun hours (hours),Unnamed: 0,Unnamed: 0.1,index
0,adilabad,adilabad,Jan,22.8 °C,16.1 °C,29.2 °C,13.0,45%,1.0,9.6,0.0,0.0,https://en.climate-data.org/asia/india/adilaba...
1,adilabad,adilabad,Feb,26.1 °C,19.1 °C,32.7 °C,8.0,39%,1.0,10.1,1.0,1.0,https://en.climate-data.org/asia/india/adilaba...
2,adilabad,adilabad,Mar,29.6 °C,22.4 °C,36.3 °C,13.0,31%,2.0,10.7,2.0,2.0,https://en.climate-data.org/asia/india/adilaba...
3,adilabad,adilabad,Apr,33.6 °C,26.5 °C,40.1 °C,10.0,27%,2.0,11.3,3.0,3.0,https://en.climate-data.org/asia/india/adilaba...
4,adilabad,adilabad,May,35.5 °C,29.6 °C,41.3 °C,15.0,28%,2.0,11.7,4.0,4.0,https://en.climate-data.org/asia/india/adilaba...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7,Orissa,Korukonda,Aug,NaN,21,28,469.8,NaN,30.0,246.0,7.0,NaN,https://www.worldweatheronline.com/korukonda-w...
8,Orissa,Korukonda,Sep,NaN,21,29,324.4,NaN,28.0,299.0,8.0,NaN,https://www.worldweatheronline.com/korukonda-w...
9,Orissa,Korukonda,Oct,NaN,19,29,139.6,NaN,18.0,347.0,9.0,NaN,https://www.worldweatheronline.com/korukonda-w...
10,Orissa,Korukonda,Nov,NaN,16,28,29.0,NaN,8.0,348.0,10.0,NaN,https://www.worldweatheronline.com/korukonda-w...
11,Orissa,Korukonda,Dec,NaN,14,27,12.2,NaN,3.0,364.0,11.0,NaN,https://www.worldweatheronline.com/korukonda-w...

In [5]:
# Export csv as checkpoint for further processing
df_result.to_csv('cities_climate/SCOR_Cities_Climate.csv')